.active {
    color: green;
    border-bottom: 1px solid;
}

.header {
    background-color: #2c588d;
    &-logo {
        color: wheat;
        font-family: cursive;
    }
    &-menu {
        padding: 15px 20px;
        margin-left: 20px;
        color: white;
        cursor: pointer;   
        &:hover {
            color: gray;
            border-bottom: 1px solid;
        } 
    }
        
}

