.custom-button {
  background-color: #2c588d;
  padding: 10px 80px;
  display: flex;
  align-items: center;
}

.modal-position {
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
  z-index: 1030;
}

.custom-table {
  height: 22rem;
  overflow: auto;

  fa-icon:hover {
    cursor: pointer;
  }

  fa-icon:active {
    color: #198754;
  }

  fa-icon {
    margin-right: 10px;
  }

  .fa-marked {
    color: rgb(15, 236, 15);
  }

  .fa-edit {
    color: grey;
  }

  .fa-trash {
    color: red;
  }
}