.custom-button {
  background-color: #2c588d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.form-container {
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  padding: 2rem;
  border-radius: 10px;
}
